@use "./../../assets/scss/" as *;

.Sidebar__wrapper {
  width: 260px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: $bg-teal;
  min-height: 100vh;

  .SideBar__inner {
    padding: 26px 0 26px 18px;
  }
}

.SideBar__nav {
  .SideBar__container {
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 10px;
    color: #6c757d;
    border-top: 1px solid #ccc;

    .active {
      color: $green;
    }

    .SideBar__position {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;
      opacity: 0.8;
    }

    .SideBar__type {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      cursor: pointer;

      svg {
        margin-right: 20px;
      }
    }

    .SideBar__list {
      padding: 0 0 0 26px;
      list-style: circle;
      transition: all 0.3s ease;

      & > * {
        padding: 8px 0;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
