@use "./../../assets/scss/" as *;

.Header__wrapper {
  padding: 24px 48px;
  background-color: $bg-teal;
  border-bottom: 1px solid #ccc;

  .Header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Header__left {
      position: relative;

      input {
        border: 1px solid #ccc;
        padding: 12px 36px;
        font-size: 18px;
        border-radius: 4px;

        &::placeholder {
          font-size: 14px;
        }
      }

      svg {
        position: absolute;
        top: 14px;
        left: 12px;
        color: #666;
        cursor: pointer;
      }
    }
    .Header__right {
      display: flex;
      align-items: center;

      & > * {
        margin-left: 3.5rem;
        cursor: pointer;
        transition: color 0.2s ease;
      }

      svg {
        font-size: 26px;

        &:hover {
          color: $green;
        }
      }

      .Header__notifi {
        position: relative;

        .Header__notifi-state {
          position: absolute;
          border: 4px solid $green;
          border-radius: 50%;
          top: -5px;
        }
      }

      .Header__avatar {
        position: relative;
        display: flex;
        justify-content: center;

        img {
          width: 34px;
        }

        .Header__avatar-state {
          position: absolute;
          bottom: 0;
          right: 16px;
          width: 8px;
          height: 8px;
          border: 2px solid $white;
          border-radius: 50%;
          background-color: $green;
        }

        svg {
          color: $green;
          font-size: 18px;
          padding: 8px 4px;
        }

        .Header__dropdown {
          position: absolute;
          top: 45px;
          left: -80px;
          background-color: $bg-teal;
          width: 130px;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: all 0.3s ease;

          &::before {
            content: "";
            position: absolute;
            top: -20px;
            right: 22px;
            display: block;
            border: 10px solid;
            border-color: transparent transparent #ccc transparent;
          }

          .dropdown__inner {
            text-transform: capitalize;

            ul {
              & > * {
                padding: 8px 16px;

                &:hover {
                  color: $green;
                }
              }

              & > :first-child {
                border-bottom: 1px solid #ccc;
              }
            }
          }
        }
      }
    }
  }
}
